<ion-list>
  <ion-list-header color="primary">
    <ion-icon name="book" size="large"></ion-icon>
    <ion-label>&nbsp;Citas</ion-label>
    <ion-buttons>
      <ion-button (click)="editAppointment()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-list-header>

  <ion-item *ngFor="let a of appointmentsService.getAppointments() | async">
    <ion-label class="item">{{ a.date }}</ion-label>
    <ion-label class="item">{{ a.hour }}</ion-label>
    <ion-label class="item">{{ a.patient }}</ion-label>
    <ion-button (click)="editAppointment(a.id)">
      <ion-icon name="pencil"></ion-icon>
    </ion-button>
    <ion-icon></ion-icon
    ><!--Espacio para separar los dos iconos-->
    <ion-button (click)="presentAlertConfirm(a)">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
