<ion-list>
  <ion-list-header color="primary">
    <ion-icon name="calendar" size="large"></ion-icon>
    &nbsp;Citas de hoy
  </ion-list-header>

  <!--<ion-item *ngIf="!appointsToday">
    <ion-label>No tienes citas programadas para hoy</ion-label>
  </ion-item>-->
  <ion-item *ngFor="let a of appointmentsService.getAppointments() | async">
    <!--<ion-item *ngIf="a.date != today">
      <ion-label>No tienes citas programadas para hoy</ion-label>
    </ion-item>-->
    <ion-label class="item">{{ a.date | date: "dd/MM/yyyy" }}</ion-label>
    <ion-label class="item">{{ a.hour | date: "HH:mm" }}</ion-label>
    <ion-label class="item">{{ a.patient }}</ion-label>
    <ion-icon></ion-icon>
    <ion-icon></ion-icon>
    <ion-icon></ion-icon>
    <ion-icon></ion-icon>
  </ion-item>
</ion-list>
