<ion-content [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">

  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>
        <ion-item color="primary" lines="none" class="ion-text-center">
          <!--<ion-button slot="end" (click)="onClick()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>-->
          <ion-label>Clinica Nilo</ion-label>
        </ion-item>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-appointments></app-appointments>
    <app-patients></app-patients>
  </ion-list>
</ion-content>
